@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  /* Colors */
  --primary-color: #5ae01e;
  --secondary-color: #282828;
  --black-color: #000000;
  --white-color: #ffffff;
  --lightgray-color: #d9d9d9;

  /* typography */
  --inter-font: "Inter", sans-serif;
  --poppings-font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--poppings-font);
}
